body {
	background-color: #e1e5ef;
	font-family: 'Montserrat', sans-serif;
}

/** Utilities */
.rounded--100 {
	border-radius: 100%;
}

.ls-1 {
	letter-spacing: 1px;
}

.shadow-light {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.02);
}

.navbar-brand {
	width: 2.5rem;
	height: 2.5rem;
}

.navbar-collapse.show {
	border-top: 1px solid #ddd;
}

.navbar-nav__link {
	color: #666;
	border-bottom: 1px solid #ddd;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease
	transition: 0.5s all ease;
}

@media(min-width:768px){
	.navbar-nav__link {
		border-bottom: 3px solid transparent;
	}
}

.navbar-nav__link:hover,
.navbar-nav__link:active,
.navbar-nav__link:focus {
	color: #444;
	background-color: #f5f5f5;
}

@media(min-width:768px){
	.navbar-nav__link:hover,
	.navbar-nav__link:active,
	.navbar-nav__link:focus {
		border-bottom-color: #0d6efd;
		background-color: transparent;
	}
}

.navbar-nav__link--active {
	color: #333;
	font-weight: 700;
}

@media(min-width:768px){
	.navbar-nav__link--active {
		border-bottom-color: #0d6efd;
	}
}

.navbar-collapse--edge {
	margin-left: -1rem;
	margin-right: -1rem;
}

/** Header */
.dropdown-toggle--user {
	padding-left: 4rem;
	padding-right: 2rem;
}

.dropdown-toggle--user::after {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

@media(min-width:768px){
	.dropdown-toggle--user::after{
		right: 0;
	}
}

/** Notification */
.notification-badge {
	height: 1.2rem;
	width: 1.2rem;
	line-height: 1.25rem;
	font-size: 0.8rem;
	line-height: 0.9rem;
}

.notification-badge--sm {
	top: 0.5rem;
	left: 2.25rem;
	padding-top: 0.15rem;
}

.notification-badge--md {
	font-size: 0.9rem;
	line-height: 1rem;
	padding: 0.1rem 0.25rem 0.25rem 0.25rem;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	left: 0.5rem;
	top: 0.5rem;
}